[submodule "vendor/gzcom-dll"]
	path = vendor/gzcom-dll
	url = https://github.com/nsgomez/gzcom-dll.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/args"]
	path = vendor/args
	url = https://github.com/Taywee/args.git
[submodule "vendor/mINI"]
	path = vendor/mINI
	url = git@github.com:metayeti/mINI.git
[submodule "vendor/sc4-custom-services"]
	path = vendor/sc4-custom-services
	url = https://github.com/caspervg/sc4-imgui-service.git
[submodule "vendor/sc4-render-services"]
	path = vendor/sc4-render-services
	url = https://github.com/caspervg/sc4-render-services.git
